@{
	ViewData["Title"] = "Home Page";
}

<main>
	<!-- Start retroy layout blog posts -->
	<section class="section bg-light site-cover site-cover-sm same-height overlay single-page"
		    style="background-image: url(/tanya-pro-SdiiiDW0Vw0-unsplash.jpg)">
		<div class="container">
			<div class="row align-items-stretch retro-layout " style="color: #f1ead3; width: 50%;">
				<h1>About Me</h1>
				<h4>
					Hi! My name is Mary Kate Baldwin.
				</h4>
				<p>
					I joined Centriq's Full Stack Coding Program on August 28, 2023 and set to graduate on December 15, 2023. I joined the program because of curiosity and a fascination of the mind behind modern technology.
				</p>
				<p>
					My personal site is where I will share my projects and milestones on my journey through coding and web developing. On here, you will also find my resume and my classmates I attended Centriq Training with. Down below you will find my social accounts, and up above you can navigate through my website. 
				</p>
				<p>
					My nerd obssession seems to change every few months, but I am currently reading the new DC Comics and re-watching "The Flash" TV show.
				</p>
				<p>
					You can also contact me through the Contact page.
				</p>
			</div>
		</div>
	</section>
	<!-- End retroy layout blog posts -->


	<section class="section">
		<div class="container">
			<div class="row mb-4">
				<div class="col-sm-6">
					<h2 class="posts-entry-title">Look Around!</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 mb-4">
					<div class="post-entry-alt">
						<a href="@Url.Action("Portfolio", "Home")" class="img-link">
							<img src="~/projectsword.jpg"
								alt="The word projects against a background. "
								class="img-fluid" />
						</a>
						<div class="excerpt">
							<h2>
								<a href="@Url.Action("Portfolio", "Home")">Projects</a>
							</h2>
							<p>
								This is a list of all my current and finished projects.
							</p>
							<p><a href="@Url.Action("Portfolio", "Home")" class="read-more">Continue Reading</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="post-entry-alt">
						<a href="@Url.Action("Resume", "Home")" class="img-link">
							<img src="~/professionalblankresume.jpg"
								alt="A desk table with a blank resume and laptop"
								class="img-fluid" />
						</a>
						<div class="excerpt">
							<h2>
								<a href="@Url.Action("Resume", "Home")">Resume</a>
							</h2>
							<p>
								My resume lists all I have learned at Centriq Training that can be apply into web developing.
							</p>
							<p><a href="" @Url.Action("Resume", "Home")"" class="read-more">Continue Reading</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="post-entry-alt">
						<a href="@Url.Action("Links", "Home")" class="img-link">
							<img src="~/brainmenpicture.jpg"
								alt=" "
								class="img-fluid" />
						</a>
						<div class="excerpt">
							<h2>
								<a href="@Url.Action("Links", "Home")">Classmates</a>
							</h2>
							<p>
								My classmates from my course at Centriq Training.
							</p>
							<p><a href="@Url.Action("Links", "Home")" class="read-more">Continue Reading</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
